@model EnergySportsClub.Models.ReservationTerrain

@{
    ViewData["Title"] = "Details";
    Layout = User.IsInRole("Admin") ? "_AdminLayout" : "_Layout";
}

<h1>Details</h1>

<div>
    <h4>ReservationTerrain</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            Terrain
        </dt>
        <dd class = "col-sm-10">
            @Model.Terrain?.Type (@Model.Terrain?.Dimensions)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class = "col-sm-2">
                User
            </dt>
            <dd class = "col-sm-10">
                @Model.User?.Email
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
