@model IEnumerable<EnergySportsClub.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QteStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerHour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QteStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerHour)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <text> | </text>
                }
                
                @if (User.IsInRole("User"))
                {
                    <text> | </text>
                    <a asp-controller="ReservationMaterials" asp-action="Create" asp-route-materialId="@item.Id">Reserve</a>
                }
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
